---
---
/*
    CSS for Navbar of NicDurish.org
    Author: Nic Durish
    Date: 2019

    Feel free to use some of this code :) However if you use ALL of it, please reference me
*/
@import 'custom/variables';
@import 'custom/includes/header';
@import 'custom/includes/footer';
@import 'custom/includes/404';
@import 'custom/includes/timeline';
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

/******* 
Sitewide 
********/
@font-face {
  font-family: 'Open Sans';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('https://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

html, body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-display: auto;
	font-size: $fontmain;
  /*line-height: $linemain;*/
	height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $index-background;
}

h2{
  font-weight: 500;
  font-size: 2em;
}

h3{
  margin: 0px;
  font-weight: 450;
}

p{
    font-weight: 300;
}

a{
  color: #09f;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

a:hover {
  color: $dulllight-red;
}

figure{
  margin: 0;
}

code {
  color: transparent;
  font-size: 0;
}

section {
  padding-top: 15px;
  padding-bottom:25px;
  text-align: center;
  h2 {
    text-align: left;
  }
}

iframe {
  border-width: 0;
  border-style: none;
}

.page-div{
  background-color: $page-div-background;
}

.page-content{
  max-width: 1500px;
  margin: auto;
  width: calc(85vw + 20px);
}

.fullpdf{
  width: 100%; height: calc(100vh - 65px); display: block;
}

.holds-the-iframe {
  background:url(../img/gif/loading.gif) center center no-repeat;
  background-size: 80px;
 }

/************* 
SUPER-GENERAL STYLES 
**************/
.displaynone{
  display:none !important;
}

.thin{
  font-style: thin;
  font-weight:100;
    -webkit-font-smoothing:antialiased;
}

.thick{
  font-style: bold;
}

.center{
  text-align: center;
}

.fullcontainer{
  width:100%;
}

.circle{
  border-radius: 50%;
}

.row{
  vertical-align:top;
}

.px2 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.centered-container{
  margin:auto;
  vertical-align:middle;
}

.bucketlist-wrapper{
  text-align: left;
  width: 66%;

  h3{
    margin: 25px 0 5px 0;
  }

  ul{
    margin: 0 0 1em;
  }

  .strikeout {
    position: relative;
  }
  .strikeout::after {
    border-bottom: 0.125em solid $primary;
    content: "";
    left: 0;
    margin-top: calc(0.125em / 2 * -1);
    position: absolute;
    right: 0;
    top: 50%;
  }

  li {
    ul {
      margin-bottom: 5px
    }
  }
}

/************* 
Index Layout 
**************/
#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.index-center-div{
  margin-left: auto;
  margin-right: auto;
  right: 0;
  top: calc(50% - 100px);
  left: 0;
  width: calc(30vw + 230px);
  height: 100px;
  text-align: center;
  position: fixed;
  z-index: 10;
}

.row.name:hover{
  cursor: pointer;
  .index-title{
    color: $secondary;
  }
}

.index-title{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: calc(3.5vw + 50px);
  color: white;
  line-height: 1em;
  z-index: 1;
  vertical-align:top;
}

.index-spacer1{
  height:25px;
}

.index-spacer2{
  height:40px;
}

.index-subtitle{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: calc(0.8vw + 11px);
  color: white;
  line-height: 0px;
  font-weight:300;
}

/************* 
Post Layouts 
**************/

.page-div.post{
  background-color: lighten($page-div-background, 4%);
}

.post-content-div.page-content{
  max-width: 850px;
  text-align: left;
  padding-bottom: 5rem;
}

.post-title{
    color: $post-title;
    font-size: 2.4em;
    margin-top:0px;
    margin-bottom:0px;
}

.post-subtitle{
    color: $post-header;
    font-size: 1em;
    font-weight: 350;
    margin: 10px 0 0;
    line-height: calc(0.7vw + 12px);
}

.post-details{
    color: $post-header;
    opacity: 0.9;
    font-size: 0.8em;
    margin: 20px 0 0;
    line-height: calc(0.7vw + 12px);
    a{
      color: $post-header;
    }
    a:hover{
      color: $dulllight-red;
    }
}
.post-contents{
  /*margin-bottom: 5.5em;*/
  p{
  font-size: 0.95rem;
  font-weight: 400;
  -webkit-font-smoothing: auto;
  line-height: 1.6rem;
  text-align: left;
  color: $post-text;
  }
  li{
    font-size: 0.95rem;
    font-weight: 400;
    -webkit-font-smoothing: auto;
    line-height: 1.6rem;
    text-align: left;
    color: #55585a;
  }
}

.post-img-fig{
  margin: 15px;
  min-width: 250px;

  .post-img{
    width:100%;
    } 

  .post-img-cap{
    width: 100%;
    text-align: center;
    font-size: 0.95rem;
    font-weight: 400;
    -webkit-font-smoothing: auto;
    line-height: 1.6rem;
    color: $post-text;
  }
}

/************* 
Share Bar
**************/
#share-bar{
  margin-top: 4em;
  text-align: center;


  .has-separator {
      position: relative;
      text-align: center;
      .cell-text{
        text-align: center;
        padding: 5px 10px;
        font-weight: 400;
        -webkit-font-smoothing: auto;
        font-size: 0.9rem;
        line-height: 1.7;
        color: #82888c;
        letter-spacing: 2px;
        letter-spacing: 0.2rem;
        position: relative;
        z-index: 2;
        margin: auto;
        background-color: lighten($page-div-background, 4%);
        width:17rem;
      }
  }

  .has-separator:after {
      content: '';
      border-bottom: 1px solid #d9d9d9;
      width: 100%;
      left: 0;
      top: 50%;
      position: absolute;
      z-index: 1;
  }

  .share-buttons{
    padding: 12px 0;

    .at-share-btn{
      padding: 5px;
      transition: all .2s ease-in-out;
      margin: 0 1.35em;
      display: inline-block;
      width: 32px;
      height: 32px
    }

    .at-share-btn:hover{
      transform: translateY(-8px);
    }

  }

}

#nextart-bar{
  margin-top: 4em;
  h3{
    margin-top: 15px;
  }
  p{
    margin: 0;
  }

  .next-details{
    font-weight: 400;
    font-size: 0.9em;
    opacity: 0.5;
  }
  .next-cat{
    margin-top: 8px;
    font-size: 0.8em;
    font-weight: 400;
  }
}


.category-box{ 
  width: 10em;
  height: 2em;
  position: relative;
  display: inline-flex;
  border-radius: 15px;
  border-style: solid;
  margin: 12px;
  transition: all .2s ease-in-out;

  a{
    padding: 0;
    position: relative;
  }

  p{
    margin:auto;
    font-weight: 400;
  }
}

.category-box:hover{
  transform: translateY(-6px);
}
/************* 
Subscribe Bar
**************/
.login_container {  
  width:50%;
  min-width: 300px;
  margin: auto;
  margin-top: 15px;
}

.login_bar {
  height: 40px;
  background: white;
  border-radius: 10px;
  top: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  
  input[type="text"]{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: lighten($primary, 10%);
  }

  .subscribe_button{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 16px;
  }
}

.login {
  left: 0;
  cursor: text;
  padding: 0 0 0 10px;
  border-width: 0px;
  background: transparent;
  position: absolute;
  height: 100%;
  width: 70%;
  padding-left: 10px;
  text-align: left;
  line-height: 40px;
  vertical-align: middle;
  z-index: 10;
  -webkit-transition: transform 0.2s ease-in-out 0s;
     -moz-transition: transform 0.2s ease-in-out 0s;
       -o-transition: transform 0.2s ease-in-out 0s;
          transition: transform 0.2s ease-in-out 0s;
}

.login_active {
  -webkit-transform: translateX(150%);
     -moz-transform: translateX(150%);
      -ms-transform: translateX(150%);
       -o-transform: translateX(150%);
          transform: translateX(150%);
}

.subscribe_button:hover{
  background-color: lighten($primary, 20%);
  cursor:pointer;
}

.subscribe_button {
  background: lighten($primary, 10%);
  position: absolute;
  top: -55px;
  left: 70%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 150px;
  width: 30%;
  text-align: center;
  line-height: 150px;
  vertical-align: middle; 
  color: white;
  -webkit-transition: transform 0.5s ease 0s;
     -moz-transition: transform 0.5s ease 0s;
       -o-transition: transform 0.5s ease 0s;
          transition: transform 0.5s ease 0s;
}

.subscribe_button_active{
  -webkit-transform: translateY(50px);
     -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
       -o-transform: translateY(50px);
          transform: translateY(50px);
}

.subscribing{
  background: lighten($secondary, 20%);
  height: 100%;
  width: 100%;
  z-index: 5;
  position: absolute;
  left:-100%;
  display: inline-block;
  -webkit-transition: transform 1s ease 0s ;
     -moz-transition: transform 1s ease 0s ;
       -o-transition: transform 1s ease 0s ;
          transition: transform 1s ease 0s ;
}

.subscribing_active {
  -webkit-transform: translateX(100%);
     -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
          transform: translateX(100%);
}

.thanks{
  left: 0;
  background: transparent;
  height: 100%;
  width: 100%;
  z-index: 5;
  text-align: left;
  line-height: 50px;
  vertical-align: middle;
  padding-left: 10px;
  position: absolute;
  top:45px;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: lighten($primary, 10%);
  -webkit-transition: transform 0.5s ease 0s ;
     -moz-transition: transform 0.5s ease 0s ;
       -o-transition: transform 0.5s ease 0s ;
          transition: transform 0.5s ease 0s ;
}

.thanks_active {
  -webkit-transform: translateY(-50px);
     -moz-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
       -o-transform: translateY(-50px);
          transform: translateY(-50px);
}


/************* 
Alerts 
**************/
.alert-div{
  position: relative;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px 29px 15px 15px;
  background: #d8eafc;
  color: #1e87f0;
  transition: max-height 0.2s ease-out;

  p{
    margin: 0;
    font-size: 0.9em;
    font-weight: 400;
  }
}

.alert-close{
  position: absolute;
  top: 0.9em;
  right: 15px;
  color: #1e87f0;
  opacity: .4;
  line-height: 0;
  transition: .1s ease-in-out;
  transition-property: color,opacity;
}

.alert-close:first-child+*{
  margin-top: 0;
}

.alert-close>:last-child{
  margin-bottom: 0;
}

/************* 
Banner 
**************/
.banner-div{
  height: calc(70vh + 105px);
  width: 100%;
  z-index: -1;

  .banner{
    height: 100%;
    width: 100%;
    display: block;
    z-index: -10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .page-content{
    position: absolute;
    top: 0px;
    height: 80vh;
    left:0;
    right:0;
    margin: auto;
    z-index: -1;
  }

  .page-content.post{
    z-index: 0;
  }

  .bannertext-div { 
    width: 47vw;
    max-width: 800px;
    height: calc(70vh - 20px);
    position: absolute; 
    top: 100px; 
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
    z-index: -1;

    .banner-title {
      margin-top:0px;
      margin-bottom:0px;
      color: $secondary;
      font-size: 2.5em;
    }

    .banner-text{
      color: $light-grey;
      font-size: calc(0.7vw + 10px);
      line-height: calc(0.7vw + 12px);
    }
  }

  .center-div{
    width:100%;
    max-width: 100%;
    top:85px;
  }

  .right-div{
    right: 0px;
  }
}

@media screen and (max-width: 768px) {
  .bannertext-div {
    width: 55vw;
  }
}

.half-div{
  height: calc(40vh + 105px) !important;
  .bannertext-div {
    height: calc(40vh - 20px);
  }
}

.mid-div{
  height: calc(55vh + 105px) !important;
  .bannertext-div {
    height: calc(55vh - 20px);
  }
}



/************* 
Cards
**************/
.card {
  opacity: 0.95;
  display: inline-flex;
  margin: 10px;
  max-width: 500px;
  position: relative;
  vertical-align: top;
  width: calc(2.2vw + 280px);
}

.card.smaller{
  width: 225px;
}

.cardcontainer-head {
  /*REMOVE HEADINGSS FOR NOW*/
  display:none;
  position: relative;
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
    top: 1.5em;
}

.card-head{
    /*REMOVE HEADINGSS FOR NOW*/
  display:none;
    position: absolute;
    width: 100%;
    top: -3.5em;
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
}

.card-head:hover, .cardcontainer-head:hover{
    font-weight: 500;
    text-decoration: underline;
}

.card:hover:not(.nohover) {
  opacity: 1;
  -webkit-filter: saturate(1.5);
  box-shadow: 1px 1px 20px 0.5px #C9C9C9;
  -webkit-box-shadow: 1px 1px 20px 0.5px #C9C9C9;
  -moz-box-shadow: 1px 1px 20px 0.5px #C9C9C9;
}


.card-front {
  background: #fff;
  border: 1px solid #ddd; 
  border-radius: 5px;
  position: relative;  
  width: 100%;  
}
.card-front.clearcard {
  background: rgba(0,0,0,0);
  border: 0; 
  border-radius: 0;
  position: relative;  
  width: 100%;  
}

.card-image {
  min-height: 1px;
  height: 200px;
  background: lightgrey; 
  
  > img {
    border-radius: 5px;
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
  }
  
  &:not(:first-child):not(:last-child) { 
    border-radius: 0; 
  } 
}
.card.smaller .card-image{
  height: 150px;
  background: rgba(0,0,0,0);
}

.card-image-top > img { border-radius: 5px 5px 0 0; }

.card-content {
  padding: 15px;
  flex: 1 1 auto; // 1
  h3, p {
    text-align: center;
  }
  h3{
    margin-top: 15px;
    color: $primary;
  }
  h4{
    font-weight: 400;
    margin: 10px 0;
    color: lighten($secondary, 5%);
  }
}

.card-badgebox{
  position: absolute;
  top: 15px;
  z-index: 1;
  width: calc(100% - 30px);
  text-align: left;
}

.card-badgebox.bl1{
  top: 158px;
  text-align: right;
}

.card-badgebox.bl2{
  top: 130px;
  text-align: right;
}

.card-badgebox.ribbon{
  top: 188px;
  width: 100%;
  right: 0px;
  text-align: right;
}
.card-badgebox.ribbon.v2{
  top: 162px;
}

.card-badge{
  font-size: 15px;
  margin-bottom: 5px;
  display: inline-block;
  padding: 0 10px;
  line-height: 1.5;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 4px;
  text-transform: uppercase;
}

.card-badge.ribbon{
  border-radius: 4px 0px 0px 4px;
}

.card-actions {
  padding: 5px;
  position: relative;
  top: -18px;
  text-align: center;
  
  > a {
    margin: 0px;
    font-weight: 400;
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px; 
    line-height: 2.2em;
  }
}

/************* 
PicList
**************/
.piclist{
  padding: 0px;
  
  hr{
    margin: 20px 0px;
  }

  .piclist-item{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
  }

  .piclist-pic{
    width: 10vw;
    height: 10vw;
    max-width: 200px;
    max-height: 200px;
    min-width: 110px;
    min-height: 110px;
    margin: 1.2em;
    position: relative;
    float: left;

    img{
      width:100%;
    }

  }

  .piclist-pic.smaller{
        width: 5vw;
    height: 5vw;
    max-width: 100px;
    max-height: 100px;
    min-width: 55px;
    min-height: 55px;
    margin: 3em;
    opacity: 0.6;
  }

  .piclist-text{
    flex: 1;
    min-width: 0;
    flex-basis: 1px;
    text-align: left;
    overflow: hidden;
    margin: 0.2em 0;

    h3{
      margin: 0.4em 0;
    }

    .piclist-subtitle{
      margin: 0 0 0.5em 0;
      position: relative;
      top: 5px;
    }

    p{
      margin: 1em 0px;
    }
    a{
      margin: 0 2em;
      line-height: 2.2em;
    }

    .card-actions{
      margin-top: 1.8em;
      padding-top: 10px;
      padding-bottom: 0;
    }

    .card-actions.nopad{
      padding-top: 0;
      margin-top: 0;
      top: 0; 
    }

    .shorttt{
      margin: 0.4em 0 0 0;
    }
  }
}
.piclist.afterlines li:after {
    content: "";
    display: block;
    height: 1px;
    opacity: 0.1;
    width: 100%;
    background: #000;

    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
  }

/************* 
Carousel 
**************/
.featured-vid {
    width: 55vw;
    height: 31vw;
    position: relative;
    pointer-events: none;
}

section.carousel-sec {
  width: 100%;
  position: relative;
}

.vidcontroldiv{
  height: 2.1em;
  width: 2.1em;
  position: absolute;
  border-style: solid;
  border-color: $primary;
  border-radius: 50%;
  opacity: 0.4;
}

.vidcontroldiv:hover{
  opacity: 0.8;
}

#prev{
  transform: rotate(90deg);
  left: calc(20vw - 50px);
}

#next{
  transform: rotate(-90deg);
  right: calc(20vw - 50px);
}

.carousel-sec.darkenback{
  background-color: darken($off-white, 3%);;
}

.carousel {
  padding: 0;

   li {
    background: #333;
    display: inline-block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
  }

  li p {
    color: white;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    margin-top: 1.175em;
  }

  .items {
    position: absolute;
  }

  .main-pos {
    z-index: 3000;
    margin: auto;
    position: relative;
    /*background-image: url('https://dl.dropbox.com/u/32649907/imgs/shadow.png');*/
    
    .featured-vid {
      pointer-events: all
    }
  }

  .left-pos {
    opacity: 0.2;
    left: 0vw ;
    z-index: 1000;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    transform: scale(.75);
  }
  .left-pos:hover{
    opacity: 0.8;
  }

  .back-pos {
    right: 23vw;
    position: absolute;
    opacity: 0;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    transform: scale(.5);
  }

  .right-pos {
    opacity: 0.2;
    right: 0vw;
    z-index: 1000;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    transform: scale(.75);
  }
  .right-pos:hover{
    opacity: 0.8;
  }

  span {
    position: relative;
    margin: 0 auto;
    left: 17em;
    top: 20em;
  }
}

/************* 
Fade Ins 
**************/
#EP-fade{
  opacity: 1;
}

.fadein-top, .fadeinstay, .fadein-3{
  opacity: 0;
}

.movinright {
  position: relative;
  width: 60vw;
}

.fade-in-3s {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.fade-in-wait-3s {
  animation: fadeInWait ease 3s;
  -webkit-animation: fadeInWait ease 3s;
  -moz-animation: fadeInWait ease 3s;
  -o-animation: fadeInWait ease 3s;
  -ms-animation: fadeInWait ease 3s;
}

.fade-in-5s {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

.fade-in-wait-5s {
  animation: fadeInWait ease 5s;
  -webkit-animation: fadeInWait ease 5s;
  -moz-animation: fadeInWait ease 5s;
  -o-animation: fadeInWait ease 5s;
  -ms-animation: fadeInWait ease 5s;
}

.fade-in-10s {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

.fade-in-wait-10s {
  animation: fadeInWait ease 10s;
  -webkit-animation: fadeInWait ease 10s;
  -moz-animation: fadeInWait ease 10s;
  -o-animation: fadeInWait ease 10s;
  -ms-animation: fadeInWait ease 10s;
}

/************* 
Keyframes
**************/
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeInWait{
  0% {
    opacity:0;
  }
  30% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeInWait {
  0% {
    opacity:0;
  }
  30% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeInWait {
  0% {
    opacity:0;
  }
  30% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeInWait {
  0% {
    opacity:0;
  }
  30% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeInWait {
  0% {
    opacity:0;
  }
  30% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/************* 
Banner Arrow
**************/
.scroll-down-arrow {
  margin-top: calc(70vh + 75px);
  position: absolute;
  left: 49.5%;
  -webkit-animation: bounce 1000ms ease  infinite;
  -moz-animation: bounce 1000ms ease infinite;
  -o-animation: bounce 1000ms ease infinite;
  animation: bounce 1000ms ease infinite;
  -webkit-animation-timing-function: cubic-bezier(.14, .75, .2, 1.01);
  -moz-animation-timing-function: cubic-bezier(.14, .75, .2, 1.01);
  -ms-animation-timing-function: cubic-bezier(.14, .75, .2, 1.01);
  animation-timing-function: cubic-bezier(.14, .75, .2, 1.01);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #f2f2f2; 
  content: "";
}

.scroll-down-arrow.shortbann{
  margin-top: calc(40vh + 75px);
}

.scroll-down-arrow.fullbann{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 25px solid #f2f2f2;
    position: fixed;
    width: 0px;
    height: 0px;
    left: calc(50% - 15px);
    margin-top: calc(100vh - 40px - 20px);
}

@media screen and (max-width: 768px) {
  .scroll-down-arrow.fullbann{
    margin-top: calc(85vh - 40px - 20px);
  }
}

@-webkit-keyframes bounce {
  0%, 100% {top: 9px; opacity: 0.15}
  25% {top: 12px; opacity: 0.45}
  50% {opacity: 0.3}
}
@keyframes bounce {
  0%, 100% {top: 9px; opacity: 0.15}
  25% {top: 12px; opacity: 0.45}
  50% {opacity: 0.3}
}