---
---
/*
    CSS for Navbar of NicDurish.org
    Author: Nic Durish
    Date: 2019

    Feel free to use some of this code :) However if you use ALL of it, please reference me
*/
@import 'custom/variables';
@import 'custom/includes/header';
@import 'custom/includes/footer';
@import 'custom/includes/404';
@import 'custom/includes/timeline';
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

/******* 
Sitewide 
********/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}

html, body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: $fontmain;
  /*line-height: $linemain;*/
	height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: $index-background;
}

h2{
  font-weight: 500;
  font-size: 2em;
}

h3{
  margin: 0px;
  font-weight: 450;
}

p{
    font-weight: 300;
}

figure{
  margin: 0;
}

code {
  color: transparent;
  font-size: 0;
}

/************* 
General Styles 
**************/
.thin{
  font-style: thin;
  font-weight:100;
    -webkit-font-smoothing:antialiased;
}

.thick{
  font-style: bold;
}

.center{
  text-align: center;
}

.page-div{
  background-color: $page-div-background;
}

.page-content{
  max-width: 1780px;
  margin: auto;
  width: calc(80vw + 50px);
}

.row{
  vertical-align:top;
}

.centered-container{
  margin:auto;
  vertical-align:middle;
}

section {
  padding-top: 20px;
  padding-bottom:30px;
  h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: left;
  }
}

.fullpdf{
  width: 100%; height: calc(100vh - 65px); display: block;
}


/************* 
Default Layout 
**************/
.banner-div{
  background-color: $nav-back;
  height: calc(70vh + 105px);
  width: 100%;

  .banner{
    height: 100%;
    width: 100%;
    display: block;
    position: center center;
  }

  .bannertext-div { 
    width: 47vw;
    height: calc(70vh - 20px);
    position: absolute; 
    top: 100px; 
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;

    .banner-title{
     margin-top:0px;
     margin-bottom:0px;
     color: $secondary;
    }

    .banner-super-title{
     margin-top:0px;
     margin-bottom:0px;
     color: $secondary;
     font-size: calc( 2vw + 30px);
    }

    .banner-text{
      color: $light-grey;
      font-size: calc(0.7vw + 10px);
      line-height: calc(0.7vw + 12px);
    }
  }
}

.right-div{
  right: calc(7vw + 10px);
}

.half-div{
  height: calc(40vh + 105px);
  .bannertext-div {
    height: calc(40vh - 20px);
  }
}

/************* 
Card Options 
**************/
$card-options: (
  primary: rgb(46, 160, 235),
);

.card {
  display: inline-flex;
  margin: 10px;
  max-width: 320px;
  position: relative;
  vertical-align: top;
  width: 100%;
}

.card-front {
  background: #fff;
  border: 1px solid #ddd; 
  border-radius: 5px;
  position: relative;  
  width: 100%;  
}

// Make card images responsive
// 1. Fixes IE bug for oversized images in container
.card-image {
  min-height: 1px; // 1 
  
  > img {
    border-radius: 5px;
    display: block;
    margin: auto;
    max-width: 100%;
  }
  
  &:not(:first-child):not(:last-child) { 
    border-radius: 0; 
  } 
}

.card-image-top > img { border-radius: 5px 5px 0 0; }

.card-content {
  padding: 15px;
  flex: 1 1 auto; // 1
  h3, p {
    text-align: center;
  }
}

.card-badgebox{
  position: absolute;
  top: 6px;
  right: 58px;
  z-index: 1;
  width: 80%;
}

.card-badgebox.bl2{
  top: 121px;
}

.card-badge{
  margin-bottom: 5px;
  display: inline-block;
  padding: 0 10px;
  line-height: 1.5;
  font-size: .875rem;
  color: #fff;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 2px;
  text-transform: uppercase;
}

.card-actions {
  padding: 15px;
  
  > a {
    color: map-get($card-options, primary);
    font-size: .8571rem;
    text-decoration: none;
    
    &:not(:last-child) { 
      margin-right: 10px; 
    }
    
    &:hover {
      color: mix(#000, map-get($card-options, primary), 20%);      
    }
  }
}

/************* 
Index Layout 
**************/
#particles-js canvas {
    display: block;
    vertical-align: bottom;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
    transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.index-center-div{
  position: absolute;
  margin: auto;
  right: 0;
  top: 2vh;
  bottom: 0;
  left: 0;
  width: calc(30vw + 230px);
  height: 100px;
  text-align: center;
  z-index: 1;
  position: absolute;
  z-index:-1;
}

.index-title{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: calc(3.5vw + 50px);
  color: white;
  line-height: 1em;
  z-index: 1;
  vertical-align:top;
}

.index-spacer1{
  height:1vh;
}

.index-subtitle{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: calc(0.8vw + 11px);
  color: white;
  line-height: 0px;
  font-weight:300;
}

/************* 
Fade Ins 
**************/
.fadeinstay, .fadein-3{
  opacity: 0;
}

.fade-in-3s {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.fade-in-wait-3s {
  animation: fadeInWait ease 3s;
  -webkit-animation: fadeInWait ease 3s;
  -moz-animation: fadeInWait ease 3s;
  -o-animation: fadeInWait ease 3s;
  -ms-animation: fadeInWait ease 3s;
}

.fade-in-5s {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

.fade-in-wait-5s {
  animation: fadeInWait ease 5s;
  -webkit-animation: fadeInWait ease 5s;
  -moz-animation: fadeInWait ease 5s;
  -o-animation: fadeInWait ease 5s;
  -ms-animation: fadeInWait ease 5s;
}

.fade-in-10s {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

.fade-in-wait-10s {
  animation: fadeInWait ease 10s;
  -webkit-animation: fadeInWait ease 10s;
  -moz-animation: fadeInWait ease 10s;
  -o-animation: fadeInWait ease 10s;
  -ms-animation: fadeInWait ease 10s;
}

/************* 
Keyframes
**************/
@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes fadeInWait{
  0% {
    opacity:0;
  }
  30% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeInWait {
  0% {
    opacity:0;
  }
  30% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeInWait {
  0% {
    opacity:0;
  }
  30% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeInWait {
  0% {
    opacity:0;
  }
  30% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeInWait {
  0% {
    opacity:0;
  }
  30% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}