---
---

@import 'bootstrap/bootstrap';
@import 'custom/includes/header';
@import 'custom/includes/footer';

body{
	color: gray;
}

.back-image{
	padding:0px;
 	height:100%;
 	width:100%;
 	position: absolute;
 	background-image: url('../img/banner.jpg');
	background-repeat: no-repeat;
	background-position: center top;
    background-size: cover;
    filter: greyscale(100%);
}

.back-image-filter{
	padding:0px;

	//background-color: black;
	//opacity: 0.4;
}

#banner{
	position: relative;
	background: url('../img/banner.jpg');
	min-height: 250px;

	.primary-overlay{
		background: rgba(141,2,31,0.8);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
