---
layout: index
comments: false

---
<!--
#	FULL SCREEN BANNER
-->
<div style="height:100vh; width:100vw;">
	<div class="index-center-div EP-fade EP-displaynone">
	    <div class="row fade-in-3s name" onclick="location.href='{{ site.baseurl }}/about/';">
	        <span class="index-title thin">Nic</span> <span class="index-title thick"><b>Durish</b></span>
	    </div>
	    
	    <div class="row index-spacer1"></div>
	    <div class="row fade-in-5s">
	    	<h3 class="index-subtitle">Designer &nbsp; · &nbsp; Computer Scientist &nbsp; · &nbsp; Tinkerer</h3>
	    </div>
	    
	    <div class="row index-spacer2"></div>
	    <div class="row fade-in-wait-3s">
	        <div class="col social-links-container" style="opacity:0.9; width: 80%; margin: auto;">
	          {% if site.show_social_icons %}
	            {% include social_links.html %}
	          {% endif %}
	        </div>
      	</div>
	</div>
	<span class="scroll-down-arrow fullbann scrollvanish"></span>
</div>


<!--
#	PAGE CONTENTS
-->
<div class="page-div">
	<section class="page-content">
		<div style="height:calc(2.5em + 30px)"><h2 class="cl-primary movinright EP-displaynone">Featured Content </h2></div>

		<!--
		#	FEATURED CARDS
		-->
		<div class="card-container">

			<div class="card fadein-top">
				<div class="card-front" data-image-position="top">
					<div class="card-image card-image-top">
			       		<img alt="LA Mockup" src="../img/projects/LA.jpg" />
			    	</div>
			      	<div class="card-content">
			      		<div class="card-badgebox">
	                    	<span class="card-badge bcl-llgreen darken">YAML</span> 
	                    	<span class="card-badge bcl-llgreen darken">CSS</span> 
	                    	<span class="card-badge bcl-llgreen darken">JS</span>
	                 	</div>
			      		<div class="card-badgebox bl2">
	                    	<span class="card-badge bcl-llblue darken">Designer</span><br>
	                    	<span class="card-badge bcl-llblue darken">Developer</span> 
	                 	</div>
						<div class="card-badgebox ribbon">
	                    	<span class="card-badge ribbon bcl-dlred darken">Personal Project</span> 
	                 	</div>
			        	<h3>Durnry Assistant</h3>
			        	<p> After investing in a couple IoT or 'Smart Home' devices, I quickly got fed-up with the growing list of settings, apps, crappy API's and closed ecosystems which made connecting the devices nearly impossible. Durnry Assistant is a custom built SmartHome system running on a Hass.io backend. This project has gotten a surpising amount of attention within the Home Assistant Forums and on Reddit. </p>
			      	</div>
			    	<div class="card-actions">
			        	<a rel="noopener" target="_blank" aria-label="See More" href="https://github.com/Durishn/Durnry-Assistant">See More</a>
			      	</div>
			     </div>
			</div>

			<div class="card fadein-top">
				<div class="card-front" data-image-position="top">
					<div class="card-image card-image-top">
			       		<img alt="PPP" src="../img/presentations/imw.jpg" />
			    	</div>
			      	<div class="card-content">
			      		<div class="card-badgebox">
	                    	<span class="card-badge bcl-llblue darken">2018</span> 
	                 	</div>
	                 	<div class="card-badgebox bl2">
	                    	<span class="card-badge bcl-llblue darken">IMW - <i>Ottawa, ON</i></span><br>
	                    	<span class="card-badge bcl-llblue darken">CBMW - <i>Iqaluit, NU</i></span> 
	                 	</div>
						<div class="card-badgebox ribbon v1">
	                    	<span class="card-badge ribbon bcl-dlred darken">Academic Presentation</i></span> 
	                 	</div>
			        	<h3>eNuk: Using mesh technology to support climate change monitoring</h3>
			        	<p>Presented the eNuk community-based environmental and health monitoring system at the Indigenous Mapping Workshop in Ottawa. A different version of this presentation was also done at the Community-Based Monitoring Workshop in Iqaluit, Nunavut in 2018. </p>
			      	</div>
			    	<div class="card-actions">
			        	<a rel="noopener" target="_blank" aria-label="See More" href="https://docs.google.com/presentation/d/1xJgYqkIgVqMlzuA6hxBPWSfNsVsnPOKPwNa6h2_LHlA/edit?usp=sharing">See Presentation</a>
			      	</div>
			     </div>
			</div>

			<div class="card fadein-top">
				<a class="card-head" href="{{ site.baseurl }}/service/">View All<br>Service</a>
				<div class="card-front" data-image-position="top">
					<div class="card-image card-image-top">
			       		<img alt="SpringIT Day" src="../img/service/pos.jpg" />
			    	</div>
			      	<div class="card-content">
			      		<div class="card-badgebox">
	                    	<span class="card-badge bcl-llblue darken">2019</span> 
	                 	</div>
						<div class="card-badgebox ribbon">
	                    	<span class="card-badge ribbon bcl-dlred darken">Assistant Coordinator</span> 
	                 	</div>
			        	<h3>Pint of Science - Guelph</h3>
			        	<p>Pint of Science is an international event that brings scientists, community-members, and beer together. Guelph PoS was held over three nights at six different venues in Guelph, and featured 12 different speakers, with talks ranging from bridging the digital divide to food fraud to the science of bubbles and beer.</p>
			      	</div>
			    	<div class="card-actions">
			        	<a rel="noopener" target="_blank" aria-label="See More" href="https://pintofscience.com/">See More</a>
			      	</div>
			     </div>
			</div>
		</div>

		<ul class="piclist">
			<li class="piclist-item" style="margin-top: 2em;">
				<div class="piclist-pic col">
					<img class="circle" alt="YIA" src="../img/awards/yia.jpg" />
				</div>
				<div class="piclist-text col">
		            <h3>Guelph Chamber of Commerce Awards of Excellence: Young Innovator Award</h3>
		            <small>2018</small>
		            <p>On June 28, 2018 the Guelph Chamber of Commerce joined leaders in business, government and community to celebrate the achievements of outstanding local organizations and individuals at the Awards of Excellence Gala. This year I was presented the first Young Innovator Award, presented by CEPS Dean, Mary Wells, which "recognizes an individual under the age of 25 who has demonstrated innovative leadership in their chosen field of profession or study" and who "is dedicated to solving an important and current challenge".</p>
		            <div class="card-actions">
			            <a rel="noopener" target="_blank" aria-label="See More" href="https://www.uoguelph.ca/computing/socs-grad-student-receives-young-innovator-award">Press</a>
			            <a rel="noopener" target="_blank" aria-label="See More" href="https://www.youtube.com/watch?v=UIHqUyFtG1s&t=5s">Video</a>
		        	</div>
	  			</div>
			</li>
		</ul>
	</section>
		

</div>

<!--
#	PAGE CONTENTS
-->
<script src="../js/carousel.js"></script>