$index-navbar: #111; // white
$index-nav: #ffffff; // white
$index-nav-hover: #7f7f7f; // grey
$index-footer: #ffffff; // white
$index-footer-hover: #7f7f7f; // grey
$primary: #ffffff; // white
$info: #ffffff; // grey 