$primary: #00B1FF;

$index-navbar: #111;
$index-nav: #ffffff; // white
$index-nav-hover: #ff0056; // pink
$index-footer: #ffffff; // white
$index-footer-hover: #ff0056; // pink
$info: #ffffff; // white 
$background: #00B1FF;