$primary: #152335;
$secondary: #cf9623;

$nav: #ffffff; 
$nav-hover: $secondary;
$nav-current: $secondary;
$nav-back: $primary;
$fixed-nav-back: #323639; //PDFViewer Colour

$affix: gray;

$index-footer: #ffffff;
$index-footer-hover: $secondary;

$index-background: #152335;

$default-background: #e8e7e5;


//OLD PRIMARY - 00B1FF
//OLD SECONDARY - ff0056
