<div class="social-links">

	<!-- Email -->
	<a target="_blank" href="mailto:{{ site.email }}">
		<i class="fa fa-envelope" ></i>
	</a>

	<!-- Facebook -->
	<a target="_blank" href="https://facebook.com/{{ site.facebook_username }}">
		<i class="fab fa-facebook"></i>
	</a>

	<!-- LinkedIn -->
	<a target="_blank" href="http://linkedin.com/in/{{ site.linkedin_username }}">
		<i class="fab fa-linkedin"></i>
	</a>

	<!-- Twitter -->
	<a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
		<i class="fab fa-twitter-square"></i>
	</a>

	<!-- Instagram -->
	<a target="_blank" href="https://instagram.com/{{ site.instagram_username }}">
		<i class="fab fa-instagram"></i>
	</a>

	<!-- Couchsurfing -->
	<a target="_blank" href="https://couchsurfing.com/people/{{ site.couchsurfing_username }}">
		<i class="fas fa-couch"></i>
	</a>

	<!-- Spotify -->
	<a target="_blank" href="https://open.spotify.com/user/{{ site.spotify_username }}">
		<i class="fab fa-spotify"></i>
	</a>

	<!-- Youtube -->
	<a target="_blank" href="https://www.youtube.com/user/{{ site.youtube_username }}">
		<i class="fab fa-youtube"></i>
	</a>

	<!-- GitHub -->
	<a target="_blank" href="https://github.com/{{ site.github_username }}">
		<i class="fab fa-github"></i>
	</a>
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"></script>