---
layout: default
title: Presentations
subtitle: "Sometimes I get up and talk to people, here are some of the things I tend to say"
banner: ../img/banner/banner_3.jpg
divsize: half-div
divside: right-div
permalink: /presentations/
---

{% for presentation in site.presentations reversed %}
	<div class="card fadein-top">
		<div class="card-front" data-image-position="top">
			<div class="card-image card-image-top">
					<img alt={{ presentation.banneralttext }} src={{ presentation.banner }} />
			</div>
			<div class="card-content">
				<div class="card-badgebox">
					{% for year in presentation.year %}
								<span class="card-badge bcl-llblue darken">{{ year }}</span>
					{% endfor %}
				</div>
				<div class="card-badgebox ribbon v2">
					{% for category in presentation.categories %}
						<span class="card-badge ribbon bcl-dlred darken">{{ category }}</span>
					{% endfor %}
				</div>
				<h3>{{ presentation.title }}</h3>
				<p>{{ presentation.description }}</p>
			</div>
			<div class="card-actions">
				{% for link in presentation.link %}
					<a rel="noopener" target="_blank" aria-label="See More" href="{{ link }}">See {{ presentation.linktype }}</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endfor %}

		<div class="card fadein-top">
			<div class="card-front" data-image-position="top">
				<div class="card-image card-image-top">
		       		<img alt="PPP" src="../img/presentations/ppp.jpg" />
		    	</div>
		      	<div class="card-content">
		      		<div class="card-badgebox">
                    	<span class="card-badge bcl-llblue darken">2018</span>
                 	</div>
					<div class="card-badgebox ribbon v2">
                    	<span class="card-badge ribbon bcl-dlred darken">PPP Forum - <i>St. John's, NL</i></span><br>
                    	<span class="card-badge ribbon bcl-dlred darken">LRF - <i>Goose-Bay, NL</i></span>
                 	</div>
		        	<h3>Bridging the Digital Divide and Improving Community-Based Monitoring in the Circumpolar North</h3>
		        	<p> Invited to speak about my research on network assessment tools and mesh networks to support community-based monitoring and communications systems at the People, Places, and Public Forum in St John's, NF. A version of this presentation was also done at the Labrador Research Forum in Happy Valley Goose-Bay, NF in 2019.</p>
		      	</div>
		    	<div class="card-actions">
		        	<a rel="noopener" target="_blank" aria-label="See More" href="https://docs.google.com/presentation/d/1-RCqFynYuxA-odcX9LgO8iWLUpenCwSQDs0dhVqfRME/edit?usp=sharing">See Presentation</a>
		      	</div>
		     </div>
		</div>

		<div class="card fadein-top">
			<div class="card-front" data-image-position="top">
				<div class="card-image card-image-top">
		       		<img alt="PPP" src="../img/presentations/imw.jpg" />
		    	</div>
		      	<div class="card-content">
		      		<div class="card-badgebox">
                    	<span class="card-badge bcl-llblue darken">2018</span>
                 	</div>
					<div class="card-badgebox ribbon v2">
                    	<span class="card-badge ribbon bcl-dlred darken">IMW - <i>Ottawa, ON</i></span><br>
                    	<span class="card-badge ribbon bcl-dlred darken">CBMW - <i>Iqaluit, NU</i></span>
                 	</div>
		        	<h3>eNuk: Using mesh technology to support climate change monitoring</h3>
		        	<p>Presented the eNuk community-based environmental and health monitoring system at the Indigenous Mapping Workshop in Ottawa. A different version of this presentation was also done at the Community-Based Monitoring Workshop in Iqaluit, Nunavut in 2018. </p>
		      	</div>
		    	<div class="card-actions">
		        	<a rel="noopener" target="_blank" aria-label="See More" href="https://docs.google.com/presentation/d/1xJgYqkIgVqMlzuA6hxBPWSfNsVsnPOKPwNa6h2_LHlA/edit?usp=sharing">See Presentation</a>
		      	</div>
		     </div>
		</div>

		<div class="card fadein-top">
			<div class="card-front" data-image-position="top">
				<div class="card-image card-image-top">
		       		<img alt="Trust" src="../img/presentations/trust.jpg" />
		    	</div>
		      	<div class="card-content">
		      		<div class="card-badgebox">
                    	<span class="card-badge bcl-llblue darken">2018</span>
                 	</div>
					<div class="card-badgebox ribbon">
                    	<span class="card-badge ribbon bcl-dlred darken">Academic - <i>CIS*6890</i></span>
                 	</div>
		        	<h3>How a Computer Scientist Navigates Trust & Relationships: A strategic analysis of Pareto-Nash misaligned games</h3>
		        	<p>In my Technical Writing and Research Methodologies MSc course I was tasked with presenting a mini-lecture on any subject at the beginning of the semester. I took the opportunity to explore my interest in Game Theory and how it relates to every-day life</p>
		      	</div>
		    	<div class="card-actions">
		        	<a rel="noopener" target="_blank" aria-label="See More" href="https://docs.google.com/presentation/d/1DSR42ARdNBh0E8-4kRv7MHrgZhT1HUa5bHGy9GreLbA/edit?usp=sharing">See Presentation</a>
		      	</div>
		     </div>
		</div>

		<div class="card fadein-top">
			<div class="card-front" data-image-position="top">
				<div class="card-image card-image-top">
		       		<img alt="Links" src="../img/presentations/3750.jpg" />
		    	</div>
		      	<div class="card-content">
		      		<div class="card-badgebox">
                    	<span class="card-badge bcl-llblue darken">2018</span>
                 	</div>
					<div class="card-badgebox ribbon">
                    	<span class="card-badge ribbon bcl-dlred darken">Teaching - <i>CIS*3750</i></span>
                 	</div>
		        	<h3>CIS*3750 Lab Slide Deck</h3>
		        	<p>During my second contract as a Teaching Assistant for CIS*3750 Systems Analysis & Design in Application, I was tasked with designing the teaching curriculum for labs for the class of ~150 students. Most of the labs involved activities, questions, open forums and time to work within teams, but I built this deck of slides to keep my on track each week.</p>
		      	</div>
		    	<div class="card-actions">
		        	<a rel="noopener" target="_blank" aria-label="See More" href="https://drive.google.com/drive/folders/1MBUTVxRwQdw8b1fbi4Cix07ejk3Wox-Z?usp=sharing">See Presentations</a>
		      	</div>
		     </div>
		</div>

		<div class="card fadein-top">
			<div class="card-front" data-image-position="top">
				<div class="card-image card-image-top">
		       		<img alt="Links" src="../img/presentations/links.jpg" />
		    	</div>
		      	<div class="card-content">
		      		<div class="card-badgebox">
                    	<span class="card-badge bcl-llblue darken">2017</span>
                 	</div>
					<div class="card-badgebox ribbon">
                    	<span class="card-badge ribbon bcl-dlred darken">Academic - <i>CIS*6650*02</i></span>
                 	</div>
		        	<h3>A Literary Review - Who To Follow & Why</h3>
		        	<p>A Literary Review on a Paper for my MSc Data Mining course which outlines a WTFW algorithm which predicts the existence of an unobserved link between two nodes in a graph. The model is shown to outperform standard algorithms in recommending new things to 'follow' on social networks.</p>
		      	</div>
		    	<div class="card-actions">
		        	<a rel="noopener" target="_blank" aria-label="See More" href="https://docs.google.com/presentation/d/1nPytkjMgTfBlzR3a6aozn7FJyubTBsMAom4hhAcYlBc/edit?usp=sharing">See Presentation</a>
		      	</div>
		     </div>
		</div>

		<div class="card fadein-top">
			<div class="card-front" data-image-position="top">
				<div class="card-image card-image-top">
		       		<img alt="Poster1" src="../img/presentations/p1.png" />
		    	</div>
		      	<div class="card-content">
		      		<div class="card-badgebox">
                    	<span class="card-badge bcl-llblue darken">2017</span>
                 	</div>
					<div class="card-badgebox ribbon v2">
						<span class="card-badge ribbon bcl-dlred darken">CPHAZ - <i>Guelph, ON</i></span><br>
                    	<span class="card-badge ribbon bcl-dlred darken">ArcticNet - <i>Quebec-City, QC</i></span>
                 	</div>
		        	<h3>A Community-Led Approach to Contextualizing Gamification</h3>
		        	<p>This hand-designed poster outlines my research on developing a tailored gamification system for the eNuk program. A version of this poster was presented at ArctNet and at the Centre for Public Health and Zoonoses Symposium in 2017.</p>
		      	</div>
		    	<div class="card-actions">
		        	<a rel="noopener" target="_blank" aria-label="See More" href="https://drive.google.com/file/d/1VxT-z7uJB1qgDuCofU2IGRA3V6xCrua3/view?usp=sharing">See Poster</a>
		      	</div>
		     </div>
		</div>

		<div class="card fadein-top">
			<div class="card-front" data-image-position="top">
				<div class="card-image card-image-top">
		       		<img alt="Links" src="../img/presentations/sbinp.jpg" />
		    	</div>
		      	<div class="card-content">
		      		<div class="card-badgebox">
                    	<span class="card-badge bcl-llblue darken">2015</span>
                 	</div>
					<div class="card-badgebox ribbon">
                    	<span class="card-badge ribbon bcl-dlred darken">UFWH PFP - <i>Guelph</i></span>
                 	</div>
		        	<h3>Sustain-a-Bin</h3>
		        	<p>A presentation on our hackathon-award-winning smart compost-bin concept (to be developed from the funding won from this competition) presented at the Universities Fighting World Hunger Pitch for Progress Competition. </p>
		      	</div>
		    	<div class="card-actions">
		        	<a rel="noopener" target="_blank" aria-label="See More" href="https://docs.google.com/presentation/d/1tRouU9ULtSPq4aw6jDwFhFMS93ICv_5CMgk1rc1qkrU/edit?usp=sharing">See Presentation</a>
		      	</div>
		     </div>
		</div>

		<div class="card fadein-top">
			<div class="card-front" data-image-position="top">
				<div class="card-image card-image-top">
		       		<img alt="Links" src="../img/presentations/etp.jpg" />
		    	</div>
		      	<div class="card-content">
		      		<div class="card-badgebox">
                    	<span class="card-badge bcl-llblue darken">2015</span>
                 	</div>
					<div class="card-badgebox ribbon">
                    	<span class="card-badge ribbon bcl-dlred darken">Net-Zero Hackathon - <i>Guelph</i></span>
                 	</div>
		        	<h3>elecTrickle</h3>
		        	<p>A presentation on our hackathon-award-winning electricity monitoring Android application presented at the Net-Zero Hackathon at the University of Guelph. </p>
		      	</div>
		    	<div class="card-actions">
		        	<a rel="noopener" target="_blank" aria-label="See More" href="https://drive.google.com/file/d/0B1u6ofEH2e_obmctT18zTnFubUU/view?usp=sharing">See Presentation</a>
		      	</div>
		     </div>
		</div>

		<div class="card fadein-top">
			<div class="card-front" data-image-position="top">
				<div class="card-image card-image-top">
		       		<img alt="Links" src="../img/presentations/magic.jpg" />
		    	</div>
		      	<div class="card-content">
		      		<div class="card-badgebox">
                    	<span class="card-badge bcl-llblue darken">2015</span>
                 	</div>
					<div class="card-badgebox ribbon">
                    	<span class="card-badge ribbon bcl-dlred darken">Academic - <i>CIS*4500</i></span>
                 	</div>
		        	<h3>magiC</h3>
		        	<p>A presentation on our spin on the C Programming Language for the CIS*4500 Program Language Wars Course. The language uses magic-like syntax in an attempt to be both humorous and kid-friendly. </p>
		      	</div>
		    	<div class="card-actions">
		        	<a rel="noopener" target="_blank" aria-label="See More" href="https://docs.google.com/presentation/d/1roxElqjUNh8ppY61-UCHOnyar0BcVNq9D7Z0_n4eCYk/edit?usp=sharing">See Presentation</a>
		      	</div>
		     </div>
		</div>
