---
layout: default
title: Projects
subtitle: "A collection of some of the personal and professional projects that I'm most proud of (and allowed to share)."
banner: ../img/banner/banner_2.jpg
divsize: half-div
divside: left-div
permalink: /projects/
---

{% for project in site.projects reversed %}
	<div class="card fadein-top">
		<div class="card-front" data-image-position="top">
			<div class="card-image card-image-top">
					<img alt={{ project.banneralttext }} src={{ project.banner }} />
			</div>
			<div class="card-content">
				<div class="card-badgebox">
					{% for tag2 in project.tags2 %}
								<span class="card-badge bcl-llgreen darken">{{ tag2 }}</span>
					{% endfor %}
				</div>
				<div class="card-badgebox bl2">
					{% for tag in project.tags %}
							<span class="card-badge bcl-llblue darken">{{ tag }}</span><br>
					{% endfor %}
				</div>
				<div class="card-badgebox ribbon">
					{% for category in project.categories %}
						<span class="card-badge ribbon bcl-dlred darken">{{ category }}</span>
					{% endfor %}
				</div>
				<h3>{{ project.title }}</h3>
				<p>{{ project.description }}</p>
			</div>
			<div class="card-actions">
				{% for atag in project.atags %}
					{{ atag }}
				{% endfor %}
			</div>
		</div>
	</div>
{% endfor %}
