.footer {
	//position: absolute;
	//opacity: 0.9;
	//padding: 0px;
	//left: 0;
	//bottom: 0;
	width: 100%;
	text-align: center;
}

.footer-index {
	position: fixed;
	opacity: 0.9;
	padding: 0px;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.social-links-container{
	margin-top:5px;
}

.social-links {
  a {
    text-decoration: none;
    margin-top: 10px;
    padding: 10px;
    padding-left:20px;
    padding-right:20px;
    color: $index-footer;

    &:hover {
      color: $index-footer-hover;
      cursor: pointer;
    }
  }
}

.fab{
	margin-top:10px;
}

.copyright {
	padding-top:10px;
	padding-bottom:5px;
	font-size:0.4rem;
}