/*
    CSS for Navbar of NicDurish.org
    Author: Nic Durish
    Date: 2019

    Feel free to use some of this code :) However if you use ALL of it, please reference me
*/

.footer {
	position: relative;
	background-color: $primary;
	padding: 0px;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	z-index:-1;
}

.footer-container{
	max-width: 90vw;
	margin: auto;

	.row{
	margin: 7px;
	}
}

.index-footer {
	position: fixed;
	padding: 0px;
	padding-bottom: 15px;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	z-index:1;
}

.social-links-container{
	margin-top:5px;
}

.social-links {
  a {
    text-decoration: none;
    color: $index-footer;

    &:hover {
      color: $index-footer-hover;
      cursor: pointer;
    }
  }
  a i {
    text-decoration: none;
    margin: 11px;
  }
}

.fab, .fa, .fas{
	margin-top:20px;
	font-size: 1.5em;
}

.copyright {
	color: #ffffff;
	font-size:0.65rem;
	opacity: 0.7;
	padding: 5px;
	cursor: pointer
}

.copyright:hover {
	color: $secondary;
}