.fixed-footer {
	position: relative;
	opacity: 0.9;
	padding: 0px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}

.footer {
	box-shadow: 1px -1px 2px;
	position: fixed;
	opacity: 0.9;
	padding: 0px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
}

.social-links-container{
	margin-top:5px;
}

.social-links {
  a {
    text-decoration: none;
    margin-top: 10px;
    padding: 10px;
    padding-left:20px;
    padding-right:20px;

    &:hover {
      color: $info;
      cursor: pointer;
    }
  }
}

.fab{
	margin-top:10px;
}

.copyright {
	padding-top:10px;
	padding-bottom:5px;
	font-size:0.4rem;
}