/*
    CSS for Navbar of NicDurish.org
    Author: Nic Durish
    Date: 2019

    Feel free to use some of this code :) However if you use ALL of it, please reference me
*/

/******** 
On Hovers
*********/
.nav .logo:hover .st0{
    fill: $nav-hover;
}

.nav .logo:hover .st1{
    stroke: $nav-hover;
}

.nav .main_list ul li a:hover {
    color: $nav-hover;
}

.nav .main_list ul li a:hover .arrowpoly {
    fill: $nav-hover;
}


/***
Logo 
****/
.st0{
    fill:#FFFFFF;
}

.st1{
    fill:none;
    stroke:#FFFFFF;
    stroke-width:35;
    stroke-linecap:round;
    stroke-miterlimit:10;
}


/********
Dropdowns 
*********/
.nav-dropdown:hover {
    background: rgba(21, 35, 53, 0.9);
    border-radius: 5px 5px 0 0;
}

ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  padding: 0;
  z-index: 10;
}

ul.drop-menu li {
  background: rgba(21, 35, 53, 0.9);
  color: white;
  font-size: 0.7rem;
  position: relative;
  z-index: 10;
}

ul.drop-menu li:hover {
  background: $nav-back;
  color: $nav-hover;
}

ul.drop-menu li:first-child {
  border-radius: 0 0 0 0;
}
ul.drop-menu li:last-child {
  border-radius: 0 0 5px 5px;
}

ul.drop-menu li{
  display: none;
}

ul.drop-menu li a{
  line-height: 40px;
  font-size: 0.7rem;
}

li:hover > ul.drop-menu li {
  display: block;
}
li:hover > ul.drop-menu.menu-2 {
  perspective: 1000px;
}
li:hover > ul.drop-menu.menu-2 li {
  transform-origin: top center;
  opacity: 0;
}
li:hover > ul.drop-menu.menu-2 li:nth-child(1) {
  animation-name: menu-2;
  animation-duration: 300ms;
  animation-delay: -150ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-2 li:nth-child(2) {
  animation-name: menu-2;
  animation-duration: 300ms;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-2 li:nth-child(3) {
  animation-name: menu-2;
  animation-duration: 300ms;
  animation-delay: 150ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-2 li:nth-child(4) {
  animation-name: menu-2;
  animation-duration: 300ms;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-2 li:nth-child(5) {
  animation-name: menu-2;
  animation-duration: 300ms;
  animation-delay: 450ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
li:hover > ul.drop-menu.menu-2 li:nth-child(6) {
  animation-name: menu-2;
  animation-duration: 300ms;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes menu-2 {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

/************** 
Mobile Nav Styles 
***************/




/************** 
Main Nav Styles 
***************/
.dropdown-arrow {
    padding-bottom: 2px;
}

.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    text-align: center;
    font-family: "Roboto", Roboto, Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.nav .logo {
    float: left;
    width: auto;
    height: auto;
    padding-top: 5px;
    padding-left: 2rem;
}

.nav .logo a {
    text-decoration: none;
    color: $nav;
    font-size: 2rem;
}

.nav .main_list {
    height: 65px;
    float: right;
}

.nav .main_list > ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list > ul > li, .nav div.main_list ul .nav-dropdown {
    width: 130px;
    height: 65px;
    position: relative;
    line-height: 40px;
}

.navlinks > li a, .nav-dropdown > li a {
    text-decoration: none;
    color: $nav;
    line-height: 65px;
    font-size: 0.9rem;
    display: block
}

.navTrigger {
    display: none;
}

/************* 
Screen Queries 
**************/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 15px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        /*background-color: #111;*/
        /*same background color of navbar*/
        background-position: center top;
    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 0.9rem;
        padding-right: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}

/********* 
Animations 
Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/
**********/
.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

/*************** 
Navbar Overrides 
****************/
.affix {
    padding: 0;
    background-color: $nav-back;
    //box-shadow: 0px 1px 2px black;
}

#current a{
    color: $nav-current !important;
}

.fixed-nav {
    padding: 0;
    background-color: $nav-back;
}

.fixed-nav-div {
    height:65px;
}