---
layout: default
title: Blog
subtitle: "A collection of my ramblings and reflections on a variety of random topics, thoughts and experiences. "
banner: ../img/banner/banner_8.jpg
divsize: half-div
divside: right-div
permalink: /blog/
---
<div class="banner-div {{ page.divsize }}">
	<div class="banner EP-stay-015" style="background: url({{page.banner}}) no-repeat fixed 40% 0%; position: fixed; background-size: cover; color: $nav-back; height: 100%; width: 100%; opacity: 0.15;"></div>
	<div class="page-content">
		<div class="bannertext-div {{page.divside}} EP-fade-stay">
			<div id="bannertext-container">
			<h1 class="banner-title">{{page.title}}</h1>
			<p class="banner-text">{{page.subtitle}}</p>
			</div>
		</div>
	</div>
	<span class="scroll-down-arrow shortbann scrollvanish"></span>
</div>

<div class="page-div">
	<section class="page-content">

		{% assign categories_list = site.categories %}
		  {% if categories_list.first[0] == null %}
		    {% for category in categories_list %}
		      <a href="{{ site.baseurl }}/category/{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}"><div class="category-box"><p>{{ category[0] | camelcase }} ({{ site.tags[category].size }})</p></div></a>
		    {% endfor %}
		  {% else %}
		    {% for category in categories_list %}
		    	<a  class="category-button" href="{{ site.baseurl }}/category/{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}"><div class="category-box"><p>{{ category[0] | camelcase }} ({{ category[1].size }})</p></div></a>
		    {% endfor %}
		  {% endif %}
		{% assign categories_list = nil %}

		<div class="blog-card-div">
		  {% for post in site.posts %}
		    <a href="{{ post.url }}"><div class= "blog-card">
		    	<div class="blog-card-img"><img alt="Blogpost Banner" src="{{ post.banner }}" /></div>
		    	<div class="blog-card-content">
			      	<h3 class="blog-card-title">{{ post.title }}</h3>
			      	<h5 class="blog-card-sub">{{ post.subtitle }}</h5>
					<p class="blog-card-details"><small>{{ post.date | date: "%B %e, %Y" }}<span class="px2">•</span>{{ post.content | number_of_words | divided_by: 200 | ceil}} min read</small></p>

					<p class="blog-card-cat"><small><b>
						{% assign categories_list = post.categories %}
						  	{% if categories_list.first != null %}
						    	{% for category in categories_list %}
						      		{{ category | camelcase }}
						      		{% if forloop.last %}{%else%},  {% endif %}
						    	{% endfor %}
						  	{% endif %}
						{% assign categories_list = nil %}
					- </b>

						{% assign tags_list = post.tags %}
						  	{% if tags_list.first != null %}
						    	{% for tag in tags_list %}
						      		{{ tag | camelcase }}
						      		{% if forloop.last %}{%else%},  {% endif %}
						    	{% endfor %}
						  	{% endif %}
						{% assign tags_list = nil %}
					</small></p>
				</div>
				<div class="blog-card-prevdiv"><div>{{ post.content | truncate:250 }}</div></div>
		    </div></a>
		  {% endfor %}
		</div>

	</section>
</div>
