---
layout: default
title: Blog
permalink: /blog/
---

<div class="banner-div half-div">
	<div class="banner EP-stay-015" style="background: url(../img/banner/banner_2.jpg) no-repeat fixed 55% 0%; position: fixed; background-size: cover; color: $nav-back; height: 100%; width: 100%; opacity: 0.15;"></div>
	<div class="page-content">
		<div class="bannertext-div  EP-fade-stay">
			<div id="bannertext-container">
			<h1 class="banner-title">Blog</h1>
			<p class="banner-text">Ramblings of a Canadian Nerd</p>
			</div>
		</div>
	</div>
	<span class="scroll-down-arrow shortbann scrollvanish"></span>
</div>


<div class="page-div">
	<section class="page-content">

{% assign categories_list = site.categories %}
  {% if categories_list.first[0] == null %}
    {% for category in categories_list %}
      <a href="{{ site.baseurl }}/blog/{{ category[0] | downcase | downcase | url_escape | strip | replace: ' ', '-' }}"><div class="category-box">{{ category[0] | camelcase }} ({{ site.tags[category].size }})</div></a>
    {% endfor %}
  {% else %}
    {% for category in categories_list %}
      <a href="{{ site.baseurl }}/blog/{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}"><div class="category-box">{{ category[0] | camelcase }} ({{ category[1].size }})</div></a>
    {% endfor %}
  {% endif %}
{% assign categories_list = nil %}







		<ul>
		  {% for post in site.posts %}
		    <li>
		      	<h3 class=""><a href="{{ post.url }}" class="text-black">{{ post.title }}</a></h3>
				<p class="next-details">{{ post.date | date: "%B %e, %Y" }}<br>
					{{ post.content | number_of_words | divided_by: 200 | ceil}} min read <br>
				</p>

				<p class="next-cat">
					{% assign categories_list = post.categories %}
					  	{% if categories_list.first != null %}
					    	{% for category in categories_list %}
					      		<a href="{{ site.baseurl }}/blog/{{ category | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category | camelcase }}</a>
					      		{% if forloop.last %}{%else%},  {% endif %}
					    	{% endfor %}
					  	{% endif %}
					{% assign categories_list = nil %}
				</p>
		    </li>
		  {% endfor %}
		</ul>
	</section>
</div>

